.progress-bar-container {
    width: 80%;
    background-color: hsla(176, 51%, 67%, 0.853);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 20px; /* Adjust height as needed */
    margin-top: 5px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4c8adc; /* Adjust color as needed */
    transition: width 0.3s;
  }
  
  .progress-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 12px;
    line-height: 20px; /* Same as the height of progress bar */
  }
  