<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="client-form">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput id="email" formControlName="email" type="email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput id="fname" formControlName="fname" type="text">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput id="lname" formControlName="lname" type="text">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select id="role" formControlName="role">
      <mat-option value="client">Client</mat-option>
      <mat-option value="admin">Admin</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput id="password" formControlName="password" type="password">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Add Client</button>
</form>
